{% extends "master.html.twig" %}

{% block title %}Access error{% endblock %}

{% block head %}
    {# redirect example with http-eqiv #}
    <meta http-equiv="refresh" content="5;URL='/login'" />  
{% endblock %}

{% block content %}
    <p>Access denied</p>
    <p><a href="/">Click to continue</a>. You will be automatically redirected in 5 seconds.</p>
{% endblock %}