{% extends "master.html.twig" %}

{% block title %}Pancakes - Index{% endblock %}

{% block content %}
<h2>MAIN</h2>

<a href="/register"><button>Register</button></a>
<a href="/login"><button>Login</button></a>

{% if userSession %}
    <a href="/addpicture"><button>Add Picture</button></a>
    <a href="/logout"><button>Logout</button></a>
{% endif %}

{% endblock %}