{% extends "master.html.twig" %}

{% block title %}Pancakes - Login{% endblock %}

{% block content %}
<h2>LOGIN</h2>
{% if userSession %}
<p>You are already logged in</p>
{% else %}
<form method="POST">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Login">
</form>
<br>
{% endif %}
<a href="/"><button>Home</button></a>
<a href="/register"><button>Register</button></a>
{% endblock %}