{% extends "master.html.twig" %}

{% block title %}Login unsuccessful{% endblock %}

{% block head %}
    {# redirect example with http-eqiv #}
    <meta http-equiv="refresh" content="5;URL='/login'" />  
{% endblock %}

{% block content %}
    <p>Login failed, please try again</p>
    <p><a href="/login">Click to continue</a>. You will be automatically redirected in 5 seconds.</p>
{% endblock %}