<!DOCTYPE html>
<html>
    <head>        
        <link rel="stylesheet" href="/styles.css" />
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% if errorList %}
            <ul class="errorMessage">
            {% for error in errorList %}
                <li>{{error}}</li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if flashMessage %}
        <div id="flashMessage">{{flashMessage}}</div>
        {% endif %}

        <!-- Block content from the other pages will load in under here -->
        {% block content %}{% endblock %}

    </body>
</html>