{% extends "master.html.twig" %}

{% block title %}Pancakes - Register{% endblock %}

{% block head %}
    <!-- AJAX stuff -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // alert("jQuery works");
            $('input[name=email]').on('paste blur change input', function() {
                var email = $('input[name=email]').val();
                $("#emailTaken").load("/isemailtaken/" + email); // AJAX request
            });

            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });

        });
    </script>
{% endblock head %}

{% block content %}

<h2>REGISTER</h2>

{% if userSession %}
<p>You are already logged in</p>
{% else %}
<form method="POST">
    Username: <input type="text" name="username"><br>
    Email: <input type="text" name="email"><br>
    <span class="errorMessage" id="emailTaken"></span><br>
    Password: <input type="password" name="pass1"><br>
    Re-enter password <input type="password" name="pass2">
    <input type="submit" value="Register">
</form>
<br>
{% endif %}
<a href="/"><button>Home</button></a>
<a href="/login"><button>Login</button></a>
{% endblock %}